/* ==========================================================================
   Font embedding
   ========================================================================== */


@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400,300,600);




/* ==========================================================================
   Tags
   ========================================================================== */

// Resetting the margins and paddings on p, h1, h2, etc
p, h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

// Resetting the outline


section {
	.section-mixin();
}

//Buttons

button {
	.button-mixin();
	&:focus {
		outline: none;
	}
}

/* ==========================================================================
   Navbar styles
   ========================================================================== */


//Brand img

.image-brand img {
	padding-top: ((@navbar-height - @logo-height) / 2);
}

//Navbar lists anchor fonts

.navbar-default .navbar-nav > li > a {
	color: #000;
	font-size: @nav-a-font-size;
	line-height: @logo-height + 5;
	padding: @nav-a-padding;
	font-weight: 500;
	border-top: none;

	.fa {
		color: @gray-color;
		margin-left: 5px;
	}
}

//Fixing hover on navbar anchors so as they dont have the same border as tabs anchors

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	border-top: none;
}

.navbar-default {
	.navbar-nav {
		position: relative;
		left: 30px;
	}
}


/* ==========================================================================
   Inputs, selects, etc
   ========================================================================== */
input {
	.input-mixin();
}

input[type=checkbox].css-checkbox {
	position:absolute;
	z-index:-1000;
	left:-1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height:1px;
	width:1px;
	margin:-1px;
	padding:0;
	border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:28px;
	height:23px; 
	display:inline-block;
	line-height:23px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:23px;
	vertical-align:middle;
	cursor:pointer;
	position: relative;
	left: 4px;
	margin: 0;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -23px;
}

label.css-label {
	background-image:url(../images/checkbox-sprite.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

select {
	.select-mixin();

	&:focus {
		outline: none;
	}
}

.button-select-wrapper {
	button {
		.select-mixin();
		text-align: left;
		width: 100%;
	}
	
	.dropdown-menu {
		list-style-type: none;
		padding: 0;
		margin: 0;
		width: 100%;
		border-radius: 5px;
		font-size: 14px;

		a {
			padding: 5px 14px;
			display: block;
			color: #000;

			&:hover {
				background: #f0f0f0;
			}

			&:hover, &:focus, &:active {
				-webkit-appearance: none;
			}
		}
	}

	a:hover {
		text-decoration: none;
	}

	.fa {
		color: #737373;
		position: relative;	
		float: right;
		font-size: 1.3em;
		text-align: right;
		line-height: normal;
		width: auto;
	}
}

.select-white-wrapper {
	.dropdown-menu {
		width: 265px !important;
	}
}

.select-gray-wrapper {
	.dropdown-menu {
		width: 100% !important;
	}
}




.select-box-disabled {
	background: @select-gray-bg;
}

.select-white-wrapper {
	width: 280px;
}

.select-white {
	background: #fff;
}

.select-gray-wrapper {
	width: 220px;
}

.select-gray {
	background: @select-gray-bg;
}

.select-box-trigger {
	padding: 13px 40px;
	width: 284px;
	display: block;
	position: relative;
	right: 20px;
}



/* ==========================================================================
   Tabs
   ========================================================================== */


.tabs-navigation-list {
	li {
		a {
			font-size: @tab-subnavigation-a-font-size + 2;
		}
	}
}

.nav-tabs {
	border-bottom: none;
}

#first-tab {
	border-left: 1px solid #cecece;
}

//Subnavigation list

.tab-subnavigation-wrapper {
	padding: 8px 0;
	background: #fff;
	border-bottom: 1px solid @border-color;
	border-top: 1px solid @border-color;

	ul {
		.ul-reset-mixin();
		float: left;

		li {
			float: left;
			padding: @tab-subnavigation-li-padding;

			a {
				padding: @tab-subnavigation-a-padding;
				border-radius: 5px;
				font-size: @tab-subnavigation-a-font-size;
				color: #000;
			}

			a.active {
				background: @tab-subnavigation-active-bg;
			}

		}
	}
}

.tab-subnavigation-breadcrumb-wrapper {
	padding: 8px 0;
	background: #fff;
	border-bottom: 1px solid @border-color;
	border-top: 1px solid @border-color;

	ul {
		.ul-reset-mixin();
		float: left;

		li {
			float: left;

			a {
				font-size: @tab-subnavigation-a-font-size;
			}

			a.active {
				
			}

		}
	}
}


/* ==========================================================================
   Icons
   ========================================================================== */


//Wrappers
.icons-wrapper {
	padding-top: @content-padding-no-sides;
}

.icon-wrapper {
	.icon-wrapper-mixin();
	float: left;
}


//Icon rows

.icon-row {
	margin-bottom: 15px;
	.icon-wrapper {
		margin-right: 17px;
		float: none;
		display: inline-block;
	}
}

.icon-row:first-child {
	margin-top: 26px;
}

.icon-row:last-child {
	margin-bottom: 0;
}


//Background color for icon wrappers

.icon-green {
	background: @icon-green-bg;
}

.icon-orange {
	background: @icon-orange-bg;
}

.icon-red{
	background: @icon-red-bg;
}

.icon-gray {
	background: @icon-gray-bg;
}

//Background image for icon wrappers

.icon-pencil {
	background-image: url(../images/icon-pencil.png);
	background-repeat: no-repeat;
	background-position: 9px;	
}

.icon-puzzle {
	background-image: url(../images/icon-puzzle.png);
	background-repeat: no-repeat;
	background-position: 11px 7px;
}

.icon-flag {
	background-image: url(../images/icon-flag.png);
	background-repeat: no-repeat;
	background-position: 9px;
}


//Icons description legend

.icons-description-wrapper {
	float: left;
	position: relative;
	margin-left: 10px;
}

.title {
	font-size: 14px;
}

.title-not-started {
	line-height: @icon-size;
	position: static;
}

.explanation {
	font-size: 13px;
}

.how-we-grade {
	float: right;

	&:hover {
		.fa {
			color: #747474;
		}

	}

	.fa {
		color: @border-color;
		margin-left: 10px;
	}
}

.section-header {
	font-weight: 600;
	font-size: 24px;
}





/* ==========================================================================
   Activity Planner styles
   ========================================================================== */

#activity-planner {
	input:not([type="checkbox"]) {
		width: 326px;
		margin-top: 20px;
	}

	button {
		margin-left: 20px;
		border: none;
		color: #fff;
		font-weight: bold;
	}

	.select-box-trigger {
		width: auto;
	}

	.activity-planner-select {
		display: inline-block;
		width: auto;
		margin-right: 18px;
	}

	.selects-wrapper {
		margin-top: 20px;
	}
}


/* ==========================================================================
   Tables
   ========================================================================== */
#activity-planner {
	table {
		margin-top: 20px;
		border-collapse: separate;
		margin-bottom: 0;
		thead {
			background: @thead-bg;
			border: 1px solid @border-color;
			tr {
				th {
					border-left: 1px solid @border-color;
					border-bottom: none;
					border-top: 1px solid @border-color;
				}

				th:nth-child(1) {
					width: 5%;
					border-top-left-radius: 5px;
					text-align: center;
				}

				th:nth-child(2) {
					width: 7%;
				}

				th:nth-child(3) {
					width: 53%;
				}

				th:nth-child(4) {
					width: 15%;
				}

				th:nth-child(5) {
					width: 20%;
					border-top-right-radius: 5px;
					border-right: 1px solid @border-color;
				}
			}
		}

		tbody {
			
			tr:nth-child(3), tr:nth-child(4), tr:nth-child(5), tr:nth-child(8), tr:nth-child(9) {
				background: @thead-bg;
			}	
			tr {
				background: #fff;
				td {
					font-size: 14px;
					padding: 7px; 
				}
				td:nth-child(1) {
					text-align: center;
					border-left: 1px solid @border-color;
				}

				td:nth-child(2) {
					text-align: center;
				}

				td:nth-child(3) {
					text-align: left;
				}

				td:nth-child(4) {
					text-align: right;
				}

				td:nth-child(5) {
					text-align: left;
					border-right: 1px solid @border-color;
				}
			}
		}
	}

	.table > thead > tr > th,
	.table > tbody > tr > th,
	.table > tfoot > tr > th,
	.table > thead > tr > td,
	.table > tbody > tr > td,
	.table > tfoot > tr > td {
		vertical-align: middle;
	}
}

.learning-to-use {
	table {
		tbody {
			tr {
				&:first-child {
					td:nth-child(1) {
						border-top-left-radius: 5px;
					}

					td:nth-child(3) {
						border-top-right-radius: 5px;
					}
				}

				&:last-child {
					td:nth-child(1) {
						border-bottom-left-radius: 5px;
					}

					td:nth-child(3) {
						border-bottom-right-radius: 5px;
					}
				}
				background: @thead-bg !important;
				td:nth-child(1) {
					width: 5%;
				}

				td:nth-child(2) {
					width: 90%;
					text-align: left !important;
				}
				td:nth-child(3) {
					border-right: 1px solid @border-color;
					width: 5%;
				}
			}
		}
	}

	.fake-border {
		width: 99.4%;
		margin: 0 auto;
		position: relative;
		bottom: 1px;
	}
}

/* ==========================================================================
   Tooltips
   ========================================================================== */


.tooltip.in {
	opacity: 1;
}


/* ==========================================================================
   Helper styles to quickly manipulate the looks
   ========================================================================== */

.fake-border {
	border-top: 1px solid @border-color;
}
.no-border {
	border: none;
}   


.no-pl {
	padding-left: 0;
}

.no-pr {
	padding-right: 0;
}