// Making tabs 100% width below 768px to look fine

@media screen and (max-width: 768px) {
	.nav-tabs li {
		width: 100%;
//Same needed for anchors to fill up the tab's LI width
		a {
			width: 100%;
		}
	}
}

// Floating the "watch a tour" element to the left below 992px so it looks fine.

@media screen and (max-width: 992px) {
	.watch-a-tour {
		float: left;
		margin-top: 20px;
	}
}