@media screen and (min-width: @screen-sm) {
	
	//Floating the navbar items to the right after @screen-sm
	.navbar-nav {
		float: right;
	}

}

@media screen and (max-width: @screen-lg) {

	//Floating how we grade to left for tablets

	.how-we-grade {
		float: left !important;
		text-align: left;
		margin-top: 15px;
	}
}

@media screen and (max-width: 565px) {
	.select-gray {
		margin-top: 30px;
	}
}

@media screen and (max-width: 992px) {
	.icon-legend {
		.icon-wrapper {
			margin-bottom: 30px;
			margin-right: 30px;
		}
	}
}

@media screen and (max-width: 768px) {
	.activity-page-dropdown-wrapper {
		.button-select {
			margin-top: 10px;
		}

		.dropdown-menu {
			min-width: 98% !important;
		}
	}
}

@media screen and (max-width: @screen-lg) {
	#activity-planner {
		.how-we-grade {
			margin-top: 0;
		}
	}
}

@media screen and (max-width: @screen-md) {
	.bs-wizard {
		right: 50px !important;
	}
}

@media screen and (max-width: @screen-sm) {
	.start-activity-wrapper {
		.button-green {
			float: left;
			margin-top: 20px;
		}
	}
}